body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3f4f6;
    margin: 0;
    font-family: Arial, sans-serif;
}

.calculator {
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.display {
    background-color: #222;
    color: white;
    text-align: right;
    padding: 20px;
    font-size: 2em;
    box-sizing: border-box;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.btn {
    padding: 20px;
    font-size: 1.5em;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: white;
    transition: background-color 0.3s;
}
.btnd {
    padding: 20px;
    font-size: 1.5em;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: red;
    transition: background-color 0.3s;
}
.btnc {
    padding: 20px;
    font-size: 1.5em;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: gray;
    transition: background-color 0.3s;
}
.btns {
    padding: 20px;
    font-size: 1.5em;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: #FFA500;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #f1f1f1;
}

.equal {
    grid-column: span 2;
    background-color: #4caf50;
    color: white;
}

.equal:hover {
    background-color: #45a049;
}
